.tecnologiasTrabalhadas {
  grid-area: tecnologias_trabalhadas;

  div {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 0.5rem;

		span {
			transition: all 0.2s;

			&:hover {
				transform: translateY(-2px);
			}
		}
  }
}
