.experiencias {
  grid-area: experiencias;
  position: relative;

  ul {
    list-style: none;
    width: 100%;

    hr {
      margin-bottom: 0.5rem;
    }

    li + li {
      padding-top: 0.5rem;
      margin-top: 0.5rem;
			border-top: 1px solid rgba($color: #FFF, $alpha: 0.1);

    }

    > li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > strong {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
      }

      span {
        font-weight: 400;
        font-size: 0.875rem;
        color: rgba($color: #FFF, $alpha: 0.4);
      }

      p {
				line-height: 1.5rem;

				& + p {
        margin-top: 4px;
      }}

      .companyName {
				font-weight: 600;
      }

      span + span {
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
      }

      > ul {
        list-style-type: disc;
        list-style-position: inside;
        margin: 0.5rem 0;

        li {
          margin: 4px 0;
        }
      }
    }
  }

  .controlSlidesButtonsEndSection {
    width: 100%;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

		// MOBILE
		@media (max-width: 768px) {
			margin-top: 1.5rem;
		}

    > button {
      background: var(--text-orange);
      border: none;
      border-radius: 4px;
      font-size: 0;
      transition: filter 0.2s;

      > svg {
        width: 1.2rem;
        height: 1.2rem;

				// MOBILE
				@media (max-width: 768px) {
					width: 1.8rem;
					height: 1.8rem;
				}
      }

      & + button {
        margin-left: 0.25rem;
      }
    }
  }
}
