.experiencias {
  grid-area: experiencias;
  position: relative;

  ul {
    list-style: none;
    width: 100%;

    hr {
      margin-bottom: 0.5rem;
    }

    li + li {
      margin-top: 0.5rem;
    }

    > li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > strong {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
      }

      span {
        font-weight: 400;
        font-size: 0.875rem;
        color: #5a5a5a;
      }

      p + p {
        margin-top: 4px;
      }

      .companyName {
        color: var(--text-dark);
      }

      span + span {
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
      }

      > ul {
        list-style-type: disc;
        list-style-position: inside;
        margin: 0.5rem 0;

        li {
          margin: 4px 0;
        }
      }
    }
  }

  .controlSlidesButtons {
    .previousButton {
      position: absolute;
      top: 36px;
      right: 56px;

      background: var(--text-orange);
      border: none;
      border-radius: 4px 0 0 4px;
      font-size: 0;
      transition: filter 0.2s;
      padding-right: 0.25rem;

      > svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .nextButton {
      position: absolute;
      top: 36px;
      right: 30px;
      border-radius: 0 4px 4px 0;
      background: var(--text-orange);
      border: none;
      font-size: 0;
      transition: filter 0.2s;
      padding-left: 0.25rem;

      > svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    button:hover {
      filter: brightness(0.9);
    }
  }

  .controlSlidesButtonsEndSection {
    width: 100%;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > button {
      background: var(--text-orange);
      border: none;
      border-radius: 4px;
      font-size: 0;
      transition: filter 0.2s;

      > svg {
        width: 1.2rem;
        height: 1.2rem;
      }

      & + button {
        margin-left: 0.25rem;
      }
    }
  }
}
