.apresentationContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin-top: 1.5rem;

	// MOBILE
	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
	// TABLET
	@media (min-width: 769px) and (max-width: 1024px) {}

	.apresentationImage {
		width: 480px;
		height: 355px;
		border-radius: 8px;
	}

	.apresentationDetails {
		p {
			& + p {
				margin-top: 1rem;
			}

			line-height: 1.7rem;
			color: var(--text-light);
			font-size: 1rem;
		}
	}
}

.linksSociais {
	margin-top: 2rem;

	a {
		opacity: 0.5;
		transition: all 0.2s;

		&:hover {
			opacity: 1;
		}

		& + a {
			margin-left: 16px;
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
