
.carouselContainer {
	> div{
		overflow: unset !important;

		> ul {
			// control-dots
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: -40px !important;

			.dot {
				width: 12px;
				height: 12px;
				background: var(--text-gray);
				display: inline-block;
				border-radius: 50%;
				border: none;;
				cursor: pointer;

				&[data-selected="true"] {
					width: 16px;
					height: 16px;
					background: var(--text-orange);
				}

				& + button {
					margin-left: 4px;
				}
			}
		}

		> div > ul {
			li {
				// MOBILE
				@media (max-width: 425px) {
					min-width: 100% !important;
				}
				// TABLET
				@media (min-width: 426px) and (max-width: 768px) {
					min-width: 100% !important;
				}
			}
		}
	}
}

.carouselShowOnlyCoverContainer{
	display: flex;
	justify-content: center;
	cursor: pointer;

	span {
		width: min(100%, var(--max-width)) !important;
		height: 600px !important;
		border-radius: 16px;

		// MOBILE
		@media (max-width: 768px) {
			height: 200px !important;
		}

		img {
			object-fit: cover !important;
			object-position: 50% 50% !important;
		}
	}
}

.carouselImagesContainer {

	span {
		cursor: pointer;
		width: min(100%, 1100px) !important;
		height: 600px !important;
		border-radius: 16px;

		// MOBILE
		@media (max-width: 768px) {
			width: 100% !important;
			height: 200px !important;
		}
		// TABLET
		@media (min-width: 769px) and (max-width: 1024px) {
			width: 100% !important;
			height: 300px !important;
		}
		// LAPTOP to 1366x768
		@media (min-width: 1024px) and (max-width: 1366px) {
			width: min(100%, 800px) !important;
			height: 400px !important;
		}

		img {
			object-fit: cover !important;
			object-position: 50% 50% !important;
		}
	}
}

.nextImageArrowContainer {
	position: absolute;
	top: 50%;
	right: 24%;
	z-index: 1;

	background: #c4c4c462;
	margin: auto;
	font-size: 0;
	border-radius: 50%;
	border: none;
	padding: 8px;

	// MOBILE
	@media (max-width: 768px) {
		right: 5%;
		top: 45%;
	}

	&:hover {
		> svg {
			color: var(--text-light);
		}
	}

	> svg {
		width: 1.2rem;
		height: 1.2rem;
		color: var(--text-orange);
		transition: all 0.2s;

		// MOBILE
		@media (max-width: 768px) {
			width: 1.6rem;
			height: 1.6rem;
		}
	}
}

.previousImageArrowContainer {
	position: absolute;
	top: 50%;
	left: 23%;
	z-index: 1;
	padding: 8px;

	background: #c4c4c462;
	margin: auto;
	font-size: 0;
	border-radius: 50%;
	border: none;

	// MOBILE
	@media (max-width: 768px) {
		left: 5%;
		top: 45%
	}

	&:hover {
		> svg {
			color: var(--text-light);
		}
	}

	> svg {
		width: 1.2rem;
		height: 1.2rem;
		color: var(--text-orange);
		transition: all 0.2s;

		// MOBILE
		@media (max-width: 768px) {
			width: 1.6rem;
			height: 1.6rem;
		}
	}
}
