.tecnologiasTrabalhadas {
  grid-area: tecnologias_trabalhadas;

  div {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 1rem;
    // > span {
    //   & + span {
    //     margin-left: 1rem !important;
    //   }
    // }
  }
}
