
.container {
  grid-area: formacao_educacional;

  ul {
    list-style: none;
    width: 100%;

    li + li {
      margin-top: 0.5rem;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      strong {
        font-size: 1.125rem;
        margin-bottom: 0.25rem;
        display: inline-flex;
        align-items: center;
      }

      > span {
        font-weight: 400;
        font-size: 0.875rem;
        color: #5a5a5a;
      }

      span + span {
        margin-top: 0.25rem;
      }
    }
  }
}
