.backgroundWrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  // background: url("/images/square_balls.svg") no-repeat 10% 60%,
  //   url("/images/blob_bg_right.svg") no-repeat right/50%;
  // background-size: 6%, 50%;
  // position: relative;

  // @media (max-width: 768px) {
  //   background: url("/images/square_balls.svg") no-repeat 10% 55%,
  //     url("/images/blob_bg_right.svg") no-repeat 400% 0%;
  //   background-size: 15%, 90%;
  // }
}

.container {
  width: 100%;
  max-width: var(--max-width);
  // padding: var(--padding-global-desktop);
  margin: 0 auto;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

	// MOBILE
	@media (max-width: 768px) {
		padding: var(--padding-global-mobile);
    padding-bottom: 80px;
	}
	// TABLET
	@media (min-width: 769px) and (max-width: 1024px) {
		padding: var(--padding-global-mobile);
	}

  h2 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 5rem;
    line-height: 94px;
    text-align: center;
		align-self: flex-start;

		background: #ffb787;
      background: -webkit-linear-gradient(to right, #ffb787 0%, #ff784b 100%);
      background: -moz-linear-gradient(to right, #ffb787 0%, #ff784b 100%);
      background: linear-gradient(to right, #ffb787 0%, #ff784b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    @media (max-width: 768px) {
      margin-top: 5rem;
      font-size: 3rem;
      line-height: 3.5rem;
    }
	}
}

.arrowSVG svg {
  width: 3rem;
  height: 3rem;
  color: var(--text-orange);
  margin-top: 2rem;
}

.apresentationContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin-top: 1.5rem;

	// MOBILE
	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
	// TABLET
	@media (min-width: 769px) and (max-width: 1024px) {}

	.apresentationImage {
		width: 480px;
		height: 355px;
		border-radius: 8px;
	}

	.apresentationDetails {
		p {
			& + p {
				margin-top: 1rem;
			}

			line-height: 1.5rem;
			color: var(--text-light);
			font-size: 1rem;
		}
	}
}

.aboutContainerDesktop {
  display: grid;
  grid-template-areas:
    "cursos_certificacoes experiencias"
    "formacao_educacional experiencias"
    "tecnologias_trabalhadas experiencias";
  gap: 2rem;
  width: 100%;
  margin-top: 4rem;

  @media (max-width: 768px) {
    display: none;
  }

  section {
    padding: 2rem;
    background: var(--background-cards);
    border-radius: 1rem;
    color: var(--text-light);

    h4 {
      font-size: 1.625rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      text-align: justify;
    }

    li {
      text-align: justify;
    }
  }
}

.aboutContainerMobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;

    .aboutContent {
      width: 100%;

      section {
        padding: 2rem;
        background: var(--background-cards);
        border-radius: 1rem;
        color: var(--text-light);

        & + section {
          margin-top: 1rem;
        }

        h4 {
          font-size: 1.625rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        p {
          text-align: justify;
        }

        li {
          text-align: justify;
        }
      }

      > ul {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1rem;

        li {
          &:first-child {
            border-radius: 4px 0 0 4px;
          }

          &:last-child {
            border-radius: 0 4px 4px 0;
          }

          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--background-cards);
          padding: 16px 0;
					cursor: pointer;
					font-size: 1.2rem;

          &[aria-selected="true"] {
            background: var(--text-orange);
            color: var(--text-light);
            font-weight: bold;
          }
        }
      }
    }
  }
}
