.backgroundWrapper {
  width: 100vw;
  height: 100vh;
  background: url("/images/square_balls.svg") no-repeat 10% 10%,
    url("/images/blob_bg_left.svg") no-repeat left/30%,
    url("/images/square_balls_45d.svg") no-repeat 90% 40%;
  position: relative;

  > span {
    position: absolute;
    bottom: 3rem;
    left: 7.25rem;

    color: var(--text-light-alternative);
    font-size: 1rem;
    font-weight: 300;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: var(--max-width);
  padding: var(--padding-global-desktop);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 93px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 6rem;
    color: var(--text-orange);
  }
}

.labelsGroup {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.75rem;

  a {
    background: var(--label);
    border-radius: 16px;
    padding: 1.5rem;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-4px);
      border-color: var(--text-orange);
    }

    div {
      display: flex;
      align-items: baseline;

      h4 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 400;
      }

      svg {
        margin-left: 0.8rem;
        width: 16px;
        height: 16px;
        color: var(--text-light);
      }
    }

    span {
      color: var(--text-light-alternative);
      font-size: 0.92rem;
      line-height: 1.5rem;
      font-weight: 300;
    }
  }
}
