.backgroundWrapper {
  width: 100%;
  height: 100%;
	overflow-x: hidden;
  // background: url("/images/square_balls.svg") no-repeat 10% 10%,
  //   url("/images/blob_bg_left.svg") no-repeat left/30%,
  //   url("/images/square_balls_45d.svg") no-repeat 90% 40%;
  position: relative;

}

.container {
  width: 100%;
  height: calc(100vh - 59px - 60px);
  max-width: var(--max-width);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
	// margin-top: 14rem;
	justify-content: center;
	// margin-bottom: 14rem;

	// MOBILE
	@media (max-width: 768px) {
		padding: var(--padding-global-mobile);

	}
	// TABLET
	@media (min-width: 769px) and (max-width: 1024px) {
		padding: var(--padding-global-tablet);
	}

	@keyframes intro {
		0% {
			opacity: 0;
			transform: translateX(-50px);
		};
		50% {
			opacity: 0;

		};
		100% {
			opacity: 1;
			transform: translateX(0px);
		}
	};

	@keyframes introCard {
		0% {
			opacity: 0;
			transform: translateY(50px);
		};
		50% {
			opacity: 0;

		};
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	};

  h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 93px;
		align-self: flex-start;
		background: #ffb787;
		background: -webkit-linear-gradient(to right, #ffb787 0%, #ff784b 100%);
		background: -moz-linear-gradient(to right, #ffb787 0%, #ff784b 100%);
		background: linear-gradient(to right, #ffb787 0%, #ff784b 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: 1.3s ease-in-out normal intro;


		// MOBILE
		@media (max-width: 768px) {
			font-size: 4rem;
			line-height: 4rem;
		}
  }

  h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 6rem;
    color: var(--text-light);
		align-self: flex-start;
		animation: 2s ease-in-out normal intro;

		// MOBILE
		@media (max-width: 768px) {
			font-size: 1.6rem;
			margin-bottom: 3rem;
		}
		// TABLET
		@media (min-width: 769px) and (max-width: 1024px) {
			font-size: 1.8rem;
		}
  }
}

.labelsGroup {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.75rem;

	// MOBILE
	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		column-gap: unset;
	}
	// TABLET
	@media (min-width: 769px) and (max-width: 1024px) {}

  a {
    background: var(--background-cards);
    border-radius: 16px;
    padding: 1.5rem;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.2s;
		animation: 2.5s ease-in-out normal introCard;


		// MOBILE
		@media (max-width: 768px) {
			& + a {
				margin-top: 1rem;
			}
		}

    &:hover {
      transform: translateY(-4px);
      border-color: var(--text-light-alternative);
    }

    div {
      display: flex;
      align-items: baseline;

      h4 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 400;
      }

      svg {
        margin-left: 0.8rem;
        width: 16px;
        height: 16px;
        color: var(--text-light);
      }
    }

    span {
      color: var(--text-light-alternative);
      font-size: 0.92rem;
      line-height: 1.5rem;
      font-weight: 300;
    }
  }
}
