@import "../mixins.scss";

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 120px;
	@include animationStart(1.2s);

	h1 {
		font-size: 3rem;
		margin: 2.5rem auto 2rem auto;

		// MOBILE
		@media (max-width: 768px) {
			font-size: 2.5rem;
		}
	}
}

.content {
	width: min(100%, var(--max-width));
	margin: 4rem auto 0 auto;

	// MOBILE
	@media (max-width: 768px) {
		padding: var(--padding-global-mobile);
	}
	// TABLET
	@media (min-width: 769px) and (max-width: 1024px) {
		padding: var(--padding-global-tablet);
	}

	> h2 {
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	.markdownContent {
		width: 100%;
		margin-bottom: 2rem;
		line-height: 1.6rem;
		font-size: 1rem;

		p {
			& + * {
				margin-top: 8px;
			}
		}
	}

	.additionalSectionGridContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 5rem;

		// MOBILE
		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
		}
		// TABLET
		@media (min-width: 769px) and (max-width: 1024px) {
			// padding: var(--padding-global-tablet);
		}

		.tecnologiesUsed {
			display: flex;
			flex-direction: column;

			> h3 {
				margin-bottom: 1.5rem;
				font-size: 1.5rem;
				line-height: 2rem;
			}
		}

		.viewMore {
			display: flex;
			flex-direction: column;

			// MOBILE
			@media (max-width: 768px) {
				margin-top: 2rem;
			}

			> h3 {
				margin-bottom: 1.5rem;
				font-size: 1.5rem;
				line-height: 1.6rem;
			}

			> div {
				display: flex;
				align-items: center;

				// MOBILE
				@media (max-width: 768px) {
					flex-direction: column;
					width: 100%;
				}
				// TABLET
				@media (min-width: 769px) and (max-width: 1024px) {
					flex-direction: column;
					width: 100%;
				}

				a, button {
					&:hover {
						transform: translateY(-2px);
						border-color: var(--text-light);
					}

					& + a, & + button {
						margin-left: 0.5rem;

						// MOBILE
						@media (max-width: 768px) {
							margin-left: unset;
							margin-top: 0.5rem;
						}
						// TABLET
						@media (min-width: 769px) and (max-width: 1024px) {
							margin-left: unset;
							margin-top: 0.5rem;
						}
					}

					transition: all 0.2s;
					border: 1px solid transparent;
					background: #1F2328;
					padding: 12px 20px;
					border-radius: 4px;
					font-weight: 600;
					display: flex;
					align-items: center;

					// MOBILE
					@media (max-width: 768px) {
						width: 100%;
						justify-content: center;
					}
					// TABLET
					@media (min-width: 769px) and (max-width: 1024px) {
						width: 100%;
						justify-content: center;
					}

					svg {
						width: 1.2rem;
						height: 1.2rem;
						color: var(--text-light);
						margin-left: 10px;
						flex-shrink: 0;
					}

					&.websiteLink {
						background: var(--text-orange);
						color: var(--text-light);
					}

					&.demoButton {
						background: transparent;
						border: 1px solid var(--text-orange);
						color: var(--text-orange);
						cursor: default;

						svg {
							color: var(--text-orange);
						}
					}
				}
			}
		}
	}
}

