.backgroundContainer {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

@keyframes intro {
	0% {
		opacity: 0;
		transform: translateY(50px);
	};
	50% {
		opacity: 0;

	};
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
};

.container {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding-bottom: 100px;

	display: flex;
	flex-direction: column;
	align-items: center;
	animation: 1.2s ease-in-out normal intro;


	// MOBILE
	@media (max-width: 768px) {
		padding: var(--padding-global-mobile);
		padding-bottom: 80px;
	}
	// TABLET
	@media (min-width: 769px) and (max-width: 1024px) {
		padding: var(--padding-global-tablet);
		padding-bottom: 80px;
	}

	h1 {
		font-size: 5rem;
		font-weight: 700;
		margin-top: 5rem;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(273deg, #f5ab7a, #fa6e40, #F3A183);
		color: #000;
		background-size: 400% 400%;
		-webkit-animation: textBackground 5s ease infinite;
		-moz-animation: textBackground 5s ease infinite;
		-o-animation: textBackground 5s ease infinite;
		animation: textBackground 5s ease infinite;

		@-webkit-keyframes textBackground {
				0%{background-position:0% 50%}
				50%{background-position:100% 50%}
				100%{background-position:0% 50%}
		}
		@-moz-keyframes textBackground {
				0%{background-position:0% 50%}
				50%{background-position:100% 50%}
				100%{background-position:0% 50%}
		}
		@-o-keyframes textBackground {
				0%{background-position:0% 50%}
				50%{background-position:100% 50%}
				100%{background-position:0% 50%}
		}
		@keyframes textBackground {
				0%{background-position:0% 50%}
				50%{background-position:100% 50%}
				100%{background-position:0% 50%}
		}
		align-self: flex-start;

		@media (max-width: 768px) {
			margin-top: 3rem;
			font-size: 4rem;
			line-height: 4.5rem;
		}
	}
}

.highlightContainer {
	width: 100%;
	height: 500px !important;
	position: relative;
	margin-top: 1.5rem;
	border: 1px solid transparent;
	border-radius: 8px;
	transition: all 0.4s;

	// MOBILE
	@media (max-width: 768px) {
		height: 300px !important;
	}

	&:hover {
		border-color: #ffb7876c;
	}

	span {
		width: 100%;
		height: 100% !important;
		border-radius: 8px;
		object-fit: cover !important;
		min-height: unset !important;
		max-height: unset !important;
	}

	img {
		object-fit: cover !important;
	}


	.highlightBadge {
		position: absolute;
		top: 24px;
		left: 32px;

		background: var(--text-light);
		border-radius: 4px;
		padding: 8px 16px;
		color: var(--text-dark);
		font-size: 0.9rem;
		font-weight: 600;

		// MOBILE
		@media (max-width: 768px) {
			padding: 4px 8px;
			left: 12px;
			top: 12px;
			font-size: 0.7rem;
		}
	}

}

.projectContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.2rem 2rem;

	margin-top: 2rem;

	// MOBILE
	@media (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
		margin-top: 2rem;
	}
}

.arrowSVG svg {
	display: none;

	// MOBILE
	@media (max-width: 768px) {
		width: 2rem;
		height: 2rem;
		color: var(--text-light);
		margin-top: 2rem;
		display: block;
	}
}

.moreProjectDiviser {
	margin: 7rem 0 0;
	align-self: flex-start;

	h2 {
		font-size: 2rem;
		color: var(--text-light);
	}
}
