:root {
  --text-light: #fcf6f0;
  --text-light-alternative: rgba(252, 246, 240, 0.6);
  --text-dark: #12120e;
  --text-orange: #ff784b;
  --text-gray: #2d2c2a;
	--text-secondary: #8f9ba8;

  --background-dark: #12120e;
  --background-light: #fcf6f0;
  --background-gray: #2d2c2a;
	--background-orange: #ff784b;

  --label: #22221f;
	--header-link-hover-color: #212024;

  --padding-global-mobile: 0 1rem;
  --padding-global-tablet: 0 3rem;
  --padding-global-desktop: 0 4.4rem;
  --max-width: 1120px;
	--border-radius: 8px;

  /**
    // MOBILE
		@media (max-width: 768px) {}
		// TABLET
		@media (min-width: 769px) and (max-width: 1024px) {}
  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 721px) and (max-width: 1366px) {
  html {
    font-size: 93.73%; // 15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px
  }
}

body {
  background: var(--background-dark);
}

body,
input,
textarea,
button {
  font: 400 1rem "Roboto", sans-serif;
  color: var(--text-light);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
