.container {
  background: var(--background-gray);
  white-space: nowrap;
  padding: 2px 8px;
  border-radius: 3px;
  margin-left: 0.5rem;
  width: min-content;

  display: inline-flex;
  align-items: center;

  span {
    font-size: 10px;
    font-weight: 300;
    color: var(--text-light);
  }
}
