.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	transition: all 0.2s;

	&:hover {
		transform: translateY(-2px);

		.imageContainer {
			border-color: #ffb7876c;
		}
	}

	.imageContainer {
		width: 100%;
		margin-bottom: 0.5rem;
		border: 2px solid transparent;
		border-radius: 12px;

		transition: all 0.8s;

		> span {
			border-radius: 12px;
			width: 100%;
			height: 200px !important;
		}
	}

	.detailContainer {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		> span {
			font-size: 1.2rem;
			font-weight: 600;
			color: var(--text-light);
			min-height: 42px;
			text-transform: uppercase;
		}

		.label {
			margin-left: 8px;
		}
	}

	.techologiesContainer {
		margin-top: 0.5rem;
	}
}
