.container {
	width: 100%;
	color: var(--text-light);
	margin-top: 2rem;
	border-radius: 16px;
	padding: 56px 0;

	display: flex;
	align-items: center;
	justify-content: center;

	// MOBILE
	@media (max-width: 425px) {
		background-image: unset;
		padding: 2rem 1rem;
		flex-direction: column;
	}

	// TABLET
	@media (min-width: 426px) and (max-width: 768px) {
		background: var(--text-orange);
		padding: 4rem 1rem;
	}

	> div {
		text-align: right;
		margin-right: 4.375rem;

		// MOBILE
		@media (max-width: 425px) {
			text-align: left;
			margin-right: unset;
		}

		// TABLET
		@media (min-width: 426px) and (max-width: 768px) {
			text-align: left;
			margin-right: 3rem;
		}

		> h4 {
			font-size: 2rem;

			// MOBILE
			@media (max-width: 425px) {
				font-size: 1.8rem;
			}
		}

		> span {
			display: block;
			font-size: 1rem;
			text-decoration: underline;
			margin-top: 0.5rem;
			color: var(--text-light-alternative);

			// MOBILE
			@media (max-width: 425px) {
				margin-bottom: 1.725rem;
			}
		}
	}

	> button {
		border: none;
		border-radius: 8px;
		background: var(--text-light);
		color: var(--text-orange);
		padding: 1.125rem 3rem;
		font-size: 1.25rem;
		font-weight: bold;
		transition: all 0.4s;

		&:hover {
			filter: brightness(0.9);
		}

		// MOBILE
		@media (max-width: 425px) {
			width: 100%;
		}
	}
}
