.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: min(100%, var(--max-width));
	margin: auto;
	padding: 8px 0 12px;


	span {
		font-size: 12px;
		opacity: 0.5;
		transition: all 0.2s;

		&:hover {
			opacity: 1;
		}
	}

	a {
		opacity: 0.5;
		transition: all 0.2s;

		&:hover {
			opacity: 1;
		}

		& + a {
			margin-left: 8px;
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

}
